@import "reset";
@import "header";
@import "dish";
@import "top-bar";
@import "menu";

* {
  font-family: Roboto, serif;
}

body {
  background-color: $main-background-color;
}

h1, h2, h3, h4 {
  margin: 0;
}

#main {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 100px;
}

.content {
  height: 100vh;
  overflow-y: scroll;
}

