<header id="header">
    <div class="header__info">
        <h1 class="header__title">
            {{restaurant.name}}
        </h1>
        <h2 class="header__subtitle">
            <span class="header__info-slogan"> {{restaurant.slogan}}</span>
        </h2>
        <span class="header__info-address"> {{restaurant.address}}</span>
    </div>
</header>